.video-container {
    width: 100%;
    height: calc(100% - 45px);

    display: flex;
    flex-direction: column;
}

.video-container > video {
    width: 100%;
    height: calc(100% - 100px);
}

.sub-video {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.sub-video > * {
    padding: 5px;
    width: 50%;
}

button {
    background: inherit;
    color: inherit;
    padding: 4px;
    border-radius: 8px;
}